<!DOCTYPE html>
<html lang="en-us" data-ng-app="demoApp">
    <head>
        <meta charset="utf-8">

        <title>AngularJS Sandbox</title>
    </head>

    <body>
        <div data-ng-controller="simpleController">
            <p>Name: <input type="text" data-ng-model="name"></p>
            <p>Hello, {{ name }}!</p>

            <ul>
                <li data-ng-repeat="customer in customers | filter: name">{{ customer.name }} - {{ customer.city }}</li>
            </ul>
        </div>


        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

        <script>
            var demoApp = angular.module('demoApp', []);

            demoApp.controller('simpleController', function($scope) {
                $scope.customers = [
                    { name: 'Alice', city: 'Miami' },
                    { name: 'Bob', city: 'New York' },
                    { name: 'Carol', city: 'Memphis' },
                    { name: 'Dave', city: 'Los Angeles' },
                    { name: 'Eve', city: 'Honolulu' },
                    { name: 'Frank', city: 'Houston' }
                ];
            });
        </script>
    </body>
</html>
