<p>Search by name: <input type="text" data-ng-model="filter.name"></p>
<p>Searching for: {{ filter.name }}</p>

<table border=1>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Visits</th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="customer in customers | filter: filter">
            <td>{{ customer.name }}</td>
            <td>{{ customer.city }}</td>
            <td>{{ customer.visits }}</td>
            <td data-simple-checkbox visited="false">Visited?</td>
        </tr>
    </tbody>
</table>

<form name="newCustomerForm">
    Customer Name: <input name="inputName" type="text" data-ng-model="newCustomer.name" required>
    <span ng-hide="!newCustomerForm.inputName.$error.required">Enter a name.</span><br>

    Customer City: <input name="inputCity" type="text" data-ng-model="newCustomer.city" required>
    <span ng-hide="!newCustomerForm.inputCity.$error.required">Enter a city.</span><br>

    Customer Visits: <input name="inputVisits" type="number" data-ng-model="newCustomer.visits" required>
    <span ng-hide="!newCustomerForm.inputVisits.$error.required">Enter a positive integer.</span><br>

    <button data-ng-click="addCustomer()" data-ng-disabled="!newCustomer.name || !newCustomer.city || !newCustomer.visits || newCustomer.visits < 0">Add Customer</button>
</form>

<!-- temporary styling -->
<style>
    .chart { background: #ddd; }
    .chart div {
        background-color: #f80;
        margin: 2px;
        text-align: right;
    }
</style>
<div data-sample-bar-chart chart-data="customers"></div>
