<div class="container">
    <h1>Home</h1>
    <p>Name: <input type="text" data-ng-model="filter.name"></p>
    <p>Hello, {{ name }}!</p>

    <ul>
        <li data-ng-repeat="customer in customers | filter: filter.name">{{ customer.name }} - {{ customer.city }}</li>
    </ul>

    <p>
        Customer Name: <input type="text" data-ng-model="newCustomer.name"><br>
        Customer City: <input type="text" data-ng-model="newCustomer.city"><br>
        <button data-ng-click="addCustomer()">Add Customer</button>
    </p>

    <a href="#/about">About</a>
</div>
