#background {
    background: url('../assets/bkgnd.jpg') no-repeat center center;
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

header {
    background-color: white;
    height: 80px;
    font-size: 32px;
    margin: 10px;
}

nav {
    background-color: white;
    margin: 10px;
}

#content {
    background-color: white;
    margin: 10px 250px 10px 10px;
}

footer {
    background-color: white;
    margin: 10px;
}
