html, body {
    margin: 0;
    padding: 0;
}

#background {
    /* background: url('../assets/bkgnd.jpg') no-repeat center center; */
    background: #689976;
        background-color: linear-gradient(#689976, #ACDACC);
    height: 100%;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

header {
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
    color: white;
    height: 90px;
    font-size: 32px;
    margin: 20px 20px 5px;
    padding: 35px 20px 0 40px;
}

header h1 {
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
    margin: 0 20px 5px;
    padding: 5px 20px;
}

#content {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
    margin: 5px 245px 5px 20px;
    padding: 5px 10px;
}

footer {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(20, 20, 20, 0.8);
    font-size: small;
    margin: 5px 20px 20px;
    padding: 5px 10px;
    text-align: center;
}
