body {
    background: #BBBBBB;
    margin: 0;
    padding: 0;
}

#background {
    height: 100%;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
}

#background #image {
    background: url('../img/bkgnd.jpg') no-repeat center center;
    background-size: cover;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

#background #gradient {
    background: linear-gradient(rgba(20, 20, 20, 0) 100px, rgba(20, 20, 20, 1) 25rem);
        background: -o-linear-gradient(rgba(20, 20, 20, 0) 100px, rgba(20, 20, 20, 1) 25rem);
        background: -ms-linear-gradient(rgba(20, 20, 20, 0) 100px, rgba(20, 20, 20, 1) 25rem);
        background: -moz-linear-gradient(rgba(20, 20, 20, 0) 100px, rgba(20, 20, 20, 1) 25rem);
        background: -webkit-linear-gradient(rgba(20, 20, 20, 0) 100px, rgba(20, 20, 20, 1) 25rem);
    height: 100%;
    width: 100%;
}

header {
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
    color: white;
    font-size: x-large;
    height: 60px;
    margin: 10px 20px 5px;
    padding: 35px 20px 35px 50px;
}

header * {
    margin: 0;
    padding: 0;
}

nav { margin: 0 20px 5px; }

nav ul {
    background-color: rgba(10, 10, 10, 0.9);
    box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 2px 2px 8px 1px rgba(0, 0, 0, 0.8);
    list-style-type: none;
    margin: 5px 0 15px;
    overflow: auto;
    padding: 0 20px;
}

nav ul li {
    float: left;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
}

nav ul li a:hover { background-color: #777777; }
nav ul li.active { background-color: #606060; }

#sidebar {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
    float: right;
    height: 100%;
    margin: 0 20px 5px 0;
    padding: 5px 10px;
    width: 200px;
}

#content {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
    margin: 5px 245px 5px 20px;
    padding: 5px 30px;
}

footer {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow: 1px 1px 8px 0px rgba(0, 0, 0, 0.8);
    clear: both;
    font-size: x-small;
    margin: 5px 20px;
    padding: 5px 10px;
    text-align: center;
}
